.main {
  font: 14px sans-serif;
}

.main .row {
  text-align: left;
  padding-top: 10px;
}

/* The form title */
.main .row > label span {
  color: #1a1a1a;
  width: 200px;
  display: inline-block;
  vertical-align: center;
  padding-left: 5px;
  padding-right: 30px;
}

.main input {
  color:  #1a1a12;
  width: 31em;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 5px;
  border: 1px solid #dbdbdb;
}

#popupWidth, #popupHeight {
  width: 50px;
  margin-right: 10px;
}

.main input[type=checkbox] {
  box-shadow: none;
  width: auto;
}

.main button {
  display: block;
  border-radius: 2px;
  font-weight: bold;
  padding: 8px 22px;
}

hr {
  border: none;
  border-top: 1px solid #ccc; /* Lighter gray line */
  margin: 20px 0;
}

.main .button-row {
  display: flex;
  justify-content: flex-end; /* Align the button to the right */
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

button#save-button {
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #0078d4;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button#save-button:hover {
  background-color: #005a9e;
}
